
.sidebar {
    margin-top: 10px;
   

}
.navbar{
    background-color: #34495e;
    color: white;
    border-radius: 0px;
   
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav .dropdown .dropdown-toggle{
     color: white;
}

    
.navbar-header .navbar-brand {
    color: white;
}



.panel-body {
    padding: 15px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
    
}

.job-form {
    margin-top: 100px;
}


.company-heading {
  margin-bottom: 50px;
  letter-spacing: 1px;
    
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
}

.desc {
    padding :1px;
    width: 100%;
}


.modal-body {
    margin-left: 220px;
}

.register-form {
    margin: 0 auto;
}

.btn-xs {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

